<!--The content below is only a placeholder and can be replaced.-->


    <p id="result">{{result}}</p>
  <table id="calculator">
    <tr>
      <td>
        <button (click)=" addToCalculation('7')">7</button>
      </td>
      <td>
        <button (click)=" addToCalculation('8')">8</button>
      </td>
      <td>
        <button (click)=" addToCalculation('9')">9</button>
      </td>
      <td>
        <button (click) = "deleteKey()">DEL</button>
      </td>
    </tr>
    <tr>
      <td>
        <button (click)=" addToCalculation('4')">4</button>
      </td>
      <td>
        <button (click)=" addToCalculation('5')">5</button>
      </td>
      <td>
        <button (click)=" addToCalculation('6')">6</button>
      </td>
      <td class="center">
        <button (click) = "addToCalculation('1')">/</button>
      </td>
    </tr>
    <tr>
      <td>
        <button id = "buttonOne" (click)=" addToCalculation('1')">1</button>
      </td>
      <td>
        <button (click)=" addToCalculation('2')">2</button>
      </td>
      <td>
        <button (click)=" addToCalculation('3')">3</button>
      </td>
      <td class="center">
        <button (click)="addToCalculation('1')">x</button>
      </td>
    </tr>
    <tr>
      <td>
        <button (click) = "eraseKey()">CE</button>
      </td>
      <td>
        <button (click)=" addToCalculation('0')">0</button>
      </td>
      <td>
        <button (click) = "enterButton()">+</button>
      </td>
      <td class="center">
        <button>-</button>
      </td>
    </tr>
    <tr>
      <td class="center" colspan="4">
        <button id = "equalButton">=</button>
      </td>
    </tr>
  </table>
<button (click)="enterButton()">Enter</button>

